.card{
    background-color: #fff;
    width: 400px;
    height: 600px;
    border-radius: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 5px;
}
.card .card-img img{
    border-radius: 40px;
}
.card .card-body{
    margin: 20px 30px;
}
.card .card-body .card-title h1{
    font-size: 26px;
    font-weight: 200;
    color: #2b2b2b;
}
.card .card-body .card-title h1 i{
    font-size: 22px;
    margin-left: 5px;
}
.card .card-body .card-text p{
        font-size: 17px;
    color: #a0a0a0;
}
.card-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: #2b2b2b;
}
.card-footer 
.btn{
    background-color: #eaeaea;
    box-shadow: 1px -1px 1px #c6c6c6;
    
    padding: 10px 50px;
    border-radius: 25px;
    color: #2b2b2b;
    float: left;
    margin-left: 30px;
}